In [ ]:
 # WRITE A PROGRAM TO INPUT THREE DIFFERENT NUMBERS AND PRINT THEIR SUM AND PRODUCT

In [6]:
def sumNumber(a,b,c):
    add=a+b+c
    product=a*b*c
    return add,product
p,q=sumNumber(1,2,3)
print(q)

6

In [ ]:
 # WRITE A PROGRAM TO INPUT THE LENGTH AND PRINT THE PERIMETER OF A SQUARE

In [7]:
def perimeterOfSquare(length):
    p=4*length
    return p
perimeterOfSquare(4)

16

In [ ]:
# 3. WRITE A PROGRAM TO INPNUT NEPALI CURRENCY AND CONVERT IT INTO INDIAN CURRENCY.

In [9]:
def currency(money):
    nepaliMoney=money*1.6
    return nepaliMoney
currency(5)

8.0

In [ ]:
# 4. WRITE A PROGRAM TO ENTER A NUMBER AND CHECK WHETHER TH NUMBER IS PALINDROME OR NOT.

In [2]:
def givenMelastNumber(number):
    remain=number//10
    return remain,number%10


def palindromeOrNot(number):
    res=0
    ori_num = number
    
    while True:
        remain,remainder=givenMelastNumber(number)
        if res==0:
            res=remainder
        else:
            res=res*10+remainder  
        number=remain
        if remain==0:
            if res==ori_num:
                return True
            else:
                   return False
            break
    
palindromeOrNot(123)

False

In [33]:
# 5. WRITE A PROGRAM TO INPUT A NUMBER AND CHECK WHETHER THE NUMBER IS ARMSTRONG OR NOT.

In [4]:


def givenMelastNumber(num):
    remain=num//10
    return remain,num%10

def count_Func(num):
        i=0
        while (num>0):
            num=num//10
            i=i+1
        return i
    
def armstrongOrNot(num):
    
    count= count_Func(num)
    ori_num=num
    res=0
    while True:
        remain,remainder = givenMelastNumber(num)
        root=remainder**count
        # print(root)
        res=res+root
        num=remain
        if remain==0:
            if res==ori_num:
                return True
            else:
                return False
            break
        
armstrongOrNot(222)

False

In [ ]:
# 7. WRITE A PROGRAM TO CHECK WHETHER AN INPUT NUMBER IS PRIME OR COMPOSITE.

In [95]:

def compositeOrNot(num):
    for i in range(1,num):
        is_composite=False
        if num%2==0:
            is_composite=True
            return True
            
    if not is_composite:
        return False

compositeOrNot(8)

True

In [ ]:
# WRITE A PROGRAM TO DISPLAY "SWARNIM PUBLICATION PVT LTD" 10 TIMES USING WHILE....W END

In [5]:
def whileLoop(num):
    i=0
    while i<num:
        print('SWARNIM')
        i+=1        
whileLoop(5)

SWARNIM
SWARNIM
SWARNIM
SWARNIM
SWARNIM

In [ ]:
# WRITE A PROGRAM TO FIND OUT FACTORIAL OF A GIVEN NUMBER USING FOR... NEXT

In [11]:
def factorial(num):
    f=1
    for i in range(1,num+1):
        f=f*i
    return f
    
factorial(5)

120

In [ ]:
# 11. WRITE A PROGRAM TO INPUT MARKS OF ALL YOUR SUBJECTS AND PRINT TOTAL, PERCENTAGE, RESULT AND DIVISION

In [55]:

a=int(input('subject A'))
b=int(input('subject B'))
c=int(input('subject C'))
d=int(input('subject D'))
def totalMark(a,b,c,d):
    total=a+b+c+d
    return total

def percentage(totalMark):
    totalGetMark=totalMark(a,b,c,d)
    fullMark=400
    percentage =(totalGetMark/fullMark)*100
    return percentage

def passOrFail(a,b,c,d):
    if a>=40 and b>=40 and c>=40 and d>=40:
        print("pass")
    else:
        print("fail")
def division(percentage):
    percentage = percentage(totalMark)
    if percentage>=70:
        print('first division')
    elif percentage>=60:
        print('second divison')
    elif percentage>=40:
        print('third division')
    else:
        print("fail division")
        

print("Total mark is:",totalMark(a,b,c,d))
print("Percentage is :",percentage(totalMark))
passOrFail(a,b,c,d)
division(percentage)

subject A 80
subject B 60
subject C 6
subject D 67
Total mark is: 213
Percentage is : 53.25
fail
third division

In [ ]:
# 12. WRITE A PROGRAM TO FIND THE AREA OF A CUBE. [HINT: A=6L2]

In [57]:
def areaOfCube(length):
    area=6*length*2
    return area

areaOfCube(10)

120

In [ ]:
# 14. WRITE A PROGRAM TO FIND THE TOTAL SURFACE AREA OF A CYLINDER.[A=2πR(R+H)]

In [61]:
def totalAreaSurfaceCylinder(R,H):
    pi=22/7
    area=2*pi*R*(R+H)
    return area
totalAreaSurfaceCylinder(10,10)

1257.142857142857

In [ ]:
# 15. WRITE A PROGRAM TO CALCULATE THE DISTANCE TRAVELLED BY BODY. [S=UT+1/2AT2]

In [64]:
def distanceTravelled(Velociry,Time,Acceleration):
    distaceCover=Velociry*Time+(1/2*Acceleration*Time*2)
    return distaceCover
distanceTravelled(10,10,10)

200.0

In [ ]:
# 16. WRITE A PROGRAM TO INPUT THE TEMPERATURE IN FAHRENHEIT AND DISPLAY IN DEGREE CELSIUS.

In [65]:
def convertFahrenheitIntoDegree(fahrenheit):
    degree=((fahrenheit - 32) * 5)/9
    return degree
convertFahrenheitIntoDegree(1)

-17.22222222222222

In [69]:
# 6. WRITE PROGRAM TO GENERATE FOLLOWING SERIES
# A. 2, 4, 6, 8......... UP TO nTH TERM

def evenNumber(num):
    for i in range(2,num+1,2):
        print(i,end=' ')
        
evenNumber(20)

2 4 6 8 10 12 14 16 18 20

In [76]:
# B. 1, 8, 27, 64, .......... UP TO nTH TERM
def cubeNumber(num):
    for i in range(1,num+1,1):
        cube=i**3
        print(cube,end=' ')

cubeNumber(20)

1 8 27 64 125 216 343 512 729 1000 1331 1728 2197 2744 3375 4096 4913 5832 6859 8000

In [81]:
# C. 100, 98, 96, 94.... UP TO nTH TERM
def hundredToNth(num):
    for i in range(100,num,-2):
        print(i,end=' ')

hundredToNth(80)

100 98 96 94 92 90 88 86 84 82

In [85]:
# D. 1, 4, 9, ......... UP TO nTH TERM
def square(num):
    for i in range(1,num+1):
        square=i**2
        print(square,end=' ')
        
square(11)

1 4 9 16 25 36 49 64 81 100 121

In [ ]:
# E. 5, 25, 125 .......... UP TO 10TH TERM

In [103]:
def multiple(num):
    for i in range(1,num+1):
        multi=5**i
        print(multi,end=' ')
        
multiple(10)

5 25 125 625 3125 15625 78125 390625 1953125 9765625

In [ ]:
# F. 1, 2, 3, 6, 11, 20, 37.... UP TO 10TH TERM

In [107]:
def sumOfThreeDigit(num):
    a=1
    b=2
    c=3
    print(a,b,c,end=' ')
    for i in range(num+1):
        d=a+b+c
        print(d,end=' ')
        a=b
        b=c
        c=d
sumOfThreeDigit(10)

1 2 3 6 11 20 37 68 125 230 423 778 1431 2632

In [ ]:
# 5, 16, 8, 4, 2, 1, 4, 2, 1, 4

In [115]:
# if modules then divide num/2
# if not then num*3+1

In [1]:
def series(num):
    first=5
    for i in range(num):
        print(first,end=' ')
        if first%2==0:
            first=first//2
        else:
            first=first*3+1

series(50)

5 16 8 4 2 1 4 2 1 4 2 1 4 2 1 4 2 1 4 2 1 4 2 1 4 2 1 4 2 1 4 2 1 4 2 1 4 2 1 4 2 1 4 2 1 4 2 1 4 2

In [ ]:
# I. 2, 8, 18, 32, ........ UP TO 10TH TERM

In [10]:
def increaseByFour(num):
    A=2
    B=6
    for i in range(num):
        print(A,end=',')
        A=A+B
        B=B+4
        
        
        
increaseByFour(20)

2,8,18,32,50,72,98,128,162,200,242,288,338,392,450,512,578,648,722,800,

In [ ]:
J. 7, 22, 11, 34, 17, 52, 26, 13, 40, 20.

In [47]:
def increase(num):
    A=7
    for i in range(num):
        print(A,end=' ')
        if A%2==0:
            A=A//2
        else:
            A=A*3+1
            
increase(20)

7 22 11 34 17 52 26 13 40 20 10 5 16 8 4 2 1 4 2 1

In [ ]:
# K. 1/2, 2/3, 3/4, ...... UP TO nTH TERM

In [49]:
def fraction(num):
    for i in range(1,num):
        i2=i+1
        
        print(str(i)+"/"+str(i2),end=', ')

fraction(10)

1/2, 2/3, 3/4, 4/5, 5/6, 6/7, 7/8, 8/9, 9/10,

In [17]:
# 7. WRITE A PROGRAM TO DISPLAY THE GICEN OUTPUT.

In [28]:
# A. 54321
#    4321
#    321
#    21
#    1

def fiveToOne(num):
    for i in range(num,0,-1):
        for j in range(i,0,-1):
            print(j,end='')
        print()
        
fiveToOne(10)

10987654321
987654321
87654321
7654321
654321
54321
4321
321
21
1

In [40]:
# B. 11111
#    2222
#    333
#    44
#    5

def oneToFive(num):
    for i in range(1,num+1):
        for j in range(num+1,i,-1):
            print(i,end='')
        print()
    
oneToFive(9)

111111111
22222222
3333333
444444
55555
6666
777
88
9

In [47]:
# C. 5
#    54
#    543
#    5432
#    54321

def seriesFiveToOne(num):
    for i in range(num,0,-1):
        for j in range(num,i-1,-1):
            print(j,end='')
        print()
seriesFiveToOne(9)

9
98
987
9876
98765
987654
9876543
98765432
987654321

In [35]:
# D. 1
#    13
#    135
#    1357
def oddSeries(num):
    for i in range(1,num,2):
        for j in range(1,i+1,2):
            print(j,end='')
        print()
oddSeries(50)

In [42]:
# E. 1 2 3
#    2 3 4
#    3 4 5
#    4 5 6
#    5 6 7
def countUptoNumber(num):
    for i in range(1,num):
        
        for j in range(0,3):
            print(i,end='')
            i+=1
        print()
countUptoNumber(10)

123
234
345
456
567
678
789
8910
91011

In [46]:
# F. 1
#    33
#    555
#    7777

def repeatNumber(num):
    for i in range(1,num,2):
        for j in range(1,i+1,2):
            print(i,end='')
        print()
repeatNumber(10)

1
33
555
7777
99999