In [1]:
# 6. WRITE PROGRAM TO GENERATE FOLLOWING SERIES

In [2]:
# A. 2, 4, 6, 8......... UP TO 10TH TERM

In [3]:
for i in range(2,11):
    print(i,end=',')

2,3,4,5,6,7,8,9,10,

In [4]:
# B. 1, 8, 27, 64, .......... UP TO 10TH TERM

In [ ]:
for i in range(1,10):
    print(i**3,end=',')

In [5]:
# 100, 98, 96, 94.... UP TO 10TH TERM

In [ ]:
for i in range(100,80,-2):
    print(i,end=',')

In [6]:
# D. 1, 4, 9, ......... UP TO 10TH TERM

In [ ]:
for i in range(1,11,1):
    print(i*i,end=',')

In [7]:
 # 5, 25, 125 .......... UP TO 10TH TERM

In [ ]:
i=1
while (i<=10):
    x=5**i
    print(x,end=',')
    i=i+1

In [8]:
# F. 1, 2, 3, 6, 11, 20, 37.... UP TO 10TH TERM

In [9]:
 # 5, 16, 8, 4, 2, 1, 4, 2, 1, 4

In [11]:
num=5
print(num,end=',')
for i in range(10):
    if num%2==0:
        num=num//2
        print(num,end=',')
    else:
        num=num*3+1
        print(num,end=',')

5,16,8,4,2,1,4,2,1,4,2,

In [11]:
# 66666, 6666, 666, 66, 6.

In [2]:
is_str='6'

def increaseWay(is_str):
    i=1
    otr_str = ''
    while (i<6):
        otr_str+=is_str
        # print(otr_str,end=',')
        print(otr_str,end=',')
        i+=1
    # return otr_str

increaseWay(is_str)

6,66,666,6666,66666,

In [28]:
num=666666
for i in range(1,6):
    num=num//10
    print(num,end=',')

5432,543,54,5,0,

In [ ]:
# F. 1, 2, 3, 6, 11, 20, 37.... UP TO 10TH TERM

In [ ]:
# F. 1, 2, 3, 6, 11, 20, 37.... UP TO 10TH TERM
a=1 
b=2
c=3
print(a,end=',')
print(b,end=',')
print(c,end=',')
d=a+b+c
print(d,end=',')
for i in range(10):
    a=b
    b=c
    c=d
    d=c
    d=a+b+c
    print(d,end=',')

In [ ]:
 # 2, 8, 18, 32, ........ UP TO 10TH TERM

In [2]:
a=2
b=6
for i in range(10):
    print(a,end=',')
    a=a+b
    b=b+4

2,8,18,32,50,72,98,128,162,200,

In [ ]:
 # 7, 22, 11, 34, 17, 52, 26, 13, 40, 20.

In [13]:
num=7
print(num,end=',')
for i in range(9):
    if num%2==0:
        num=num//2
        print(num,end=',')
    else:
        num=num*3+1
        print(num,end=',')

7,22,11,34,17,52,26,13,40,20,

In [ ]:
# 1/2, 2/3, 3/4, ...... UP TO 10TH TERM

In [18]:

for i in range(1,10):
    print(i,'/', i+1,end=',')

1 / 2,2 / 3,3 / 4,4 / 5,5 / 6,6 / 7,7 / 8,8 / 9,9 / 10,

In [20]:
# 7. WRITE A PROGRAM TO DISPLAY THE GIVEN OUTPUT.

In [ ]:
# A. 54321
#    4321
#    321
#    21
#    1

In [9]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end='')
    print()

54321
4321
321
21
1

In [1]:
for i in range(1,6):
    for j in range(6,i,-1):
        print(i,end='') 
    print()

11111
2222
333
44
5

In [1]:
for i in range(1,8,2):
    for j in range(1,i+1,2):
        print(i,end='')
    print()

1
33
555
7777

In [2]:
for i in range(1,6):
    for j in range(i,i+3):
        print(j,end='')
    print()

123
234
345
456
567

In [3]:
for i in range(1,8,2):
    for j in range(1,i+1,2):
        print(j,end='')
    print()

1
13
135
1357

In [4]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end='')
    print()

5
54
543
5432
54321

In [1]:
word='SHEKHAR'
# print(len(word))
empty=list(word)
print(word)
for i in range(len(word)-1,0,-1):
    empty[i]=''
    word=''.join(empty)
    print(word)

SHEKHAR
SHEKHA
SHEKH
SHEK
SHE
SH
S

In [ ]:
# 5
# 40
# 300
# 2000
# 10000

In [87]:
j=1
for i in range(5,0,-1):
    # print(j)
    print(i*j)
    j=j*10

5
40
300
2000
10000

In [ ]:
# 15 14 13 12 11
# 10 9 8 7
# 6 5 4
# 3 2
# 1

In [99]:
k=15
for i in range(5,0,-1):
    for j in range(i):
        print(k,end=' ')
        k=k-1
    print()

15 14 13 12 11
10 9 8 7
6 5 4
3 2
1

In [101]:
# *
# ***
# *****
# *******
# *****
# ***
# *

In [3]:
maxNum=5
# for i in range(1,maxNum+1,2):
#      print("*"*i)
for j in range(maxNum,0,-1):
    print('*'*j)

*****
****
***
**
*

In [42]:
maxNum=7
for i in range(1,maxNum+1,2):
    print(i,end=' ')
    if i==maxNum:
        for j in range(maxNum-2,0,-2):
                print(j,end=' ')

1 3 5 7 5 3 1